@import url(./base.css);

html, body {
    margin: 0;
}

body {
    font-family: 'Google Sans';
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 5px 0 5px 10px;
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: 0 4px 6px 0 rgba(255, 255, 255, 0.1);
    height: 15vh;
}

footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

main {
    margin: 0;
}

button {
    all: unset;
    cursor: pointer;
}

button:focus {
    outline: auto;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: var(--md-sys-color-primary);
    border-radius: 50%;
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
    transform: translateY(-10px);
}

.social-icon-img {
    aspect-ratio: 1 / 1;
    width: 100%;
}

main {
    padding: 5px;
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px); /* Example: Start slightly below its final position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Example: End at its final position */
    }
}

a {
    text-decoration: underline;
    color: var(--md-sys-color-primary);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border-radius: 50%;
    height: 50px;
    max-height: 75%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}


@media (max-width: 768px) {
    header {
        height: 7vh;
        width: 100vw;
    }

    .header-text {
        font-size: 25px;
    }
}